[Desktop Entry]
Version=1.0
Type=Application
Name=Disable DTM on Boot
Comment=Disables DTM services on boot.
Exec=disableonboot.sh
Icon=list-remove
Path=
Terminal=true
StartupNotify=true
