[Desktop Entry]
Version=1.0
Type=Application
Name=Enable DTM on Boot
Comment=Enables DTM on Boot
Exec=startonboot.sh
Icon=system-restart-panel
Path=
Terminal=true
StartupNotify=true
