[Desktop Entry]
Version=1.0
Type=Application
Name=Purge Logs
Comment=Clears all data logs collected
Exec=purgelog.sh
Icon=edit-clear-all
Path=
Terminal=false
StartupNotify=true
