[Desktop Entry]
Version=1.0
Type=Application
Name=Purge Logs
Comment=Clears all data logs collected
Exec=clearlog.sh
Icon=edit-clear-all
Path=
Terminal=true
StartupNotify=true
