[Desktop Entry]
Version=1.0
Type=Application
Name=Stop DTM Services
Comment=Stops DTM Services
Exec=stopdtm.sh
Icon=process-stop
Path=
Terminal=true
StartupNotify=true
